@import "./variable.scss";

:deep(.el-dialog) {
  border-radius: 1rem ;
  width: 100% ;
  @include rwd($mobile) {
    width: 50% ;
  }
}
:deep(.el-dialog__header) {
  background-color: $green;
  margin: 0;
  border-radius: 1rem 1rem 0 0;
  text-align: center;
  color: $white;
  font-size: 2rem;
  padding: 1.3rem 1rem;
  letter-spacing: .1rem;
  button {
    top: 0;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    svg{
        color: $white;
    }
  }
}
:deep(.el-dialog__body) {
  padding: 1rem;
}

:deep(.el-tabs) {
    width: 100%;
}

:deep(.el-tabs__item) {
    text-align: center;
    padding: 0;
}
:deep(.el-tabs__nav) {
  @include rwd ($leptop){
    display: flex;
  }
    width: 100%;
    @media  screen and (max-width: $mobile) {
      &::-webkit-scrollbar {
        display: none;
      }
      overflow: scroll;
    }
}

:deep(.el-collapse) {
  border: none;
  max-width: 768px;
  margin: auto;
  .el-icon {
    color: transparent;
  }
  .el-collapse-item {
    margin-bottom: 1rem;
  }
  .el-collapse-item__header{
    border-radius: 1rem 1rem 0 0;
    position: relative;
    background-color: $gray-light;
    font-size: 1.6rem;
    span{
      position: absolute;
      top: 25%;
      right: 2%;
    }
    &.is-active {
      background-color: $blue;
      color: $white;
    }
  }

  .el-collapse-item__content{
    background-color: $gray-light;
    border-radius: 0 0 1rem 1rem;
    border: none;
  }
}


